<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onClick()">
        <ion-icon slot="end" name="bulb"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color=success>
      profil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-card>
        <ion-card-header text-center>
          <ion-card-title color=medium text-uppercase><h1><b>Informations</b></h1></ion-card-title>
        </ion-card-header>

        <ion-card-content>  
          <form>

            <ion-list>
              <ion-item>
                <ion-label position=floating color=success>Prénom : {{ user?.firstname }}</ion-label>
                <ion-input type=text name=firstname required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position=floating color=success>Nom : {{ user?.name }}</ion-label>
                <ion-input type=text name=name required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color=dark>Solde : {{ user?.solde }}€</ion-label>
              </ion-item>
              <ion-item>
                <ion-label position=floating color=success>{{ user?.email }}</ion-label>
                <ion-input type=email name=email required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position=floating color=success>Mot de passe :</ion-label>
                <ion-input type=password name=password required></ion-input>
              </ion-item>
              <ion-button margin fill=outline type=submit text-uppercase expand=block color=success>Modifier</ion-button>
            </ion-list>
            
          </form>
        </ion-card-content>
      </ion-card>
      
      <!-- Second part of the page (previous order)-->
      <ion-card>
        <ion-card-title text-center text-uppercase color=medium>
          <h1><b>Mes Commandes</b></h1>
        </ion-card-title>
      </ion-card>
      <ion-card *ngFor="let order of list" margin>
        <ion-card-header>
          <ion-card-subtitle color=success>{{ order?.price }} €</ion-card-subtitle>
          <ion-card-title color=success>{{ order?.nameMenu }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{ order?.message }}<br>
        </ion-card-content>
      </ion-card>
</ion-content>
