<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      profil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <!-- First part of the page (information)-->
      <ion-card color=success margin>
        <ion-card-header>
          <ion-card-title text-center>
            <h2 text-uppercase>Informations</h2>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <h3>{{ user?.firstname }}Firstname</h3>
          <h3>{{ user?.name }}Name</h3>
          <form>
            <ion-item>
              <ion-label position="floating">{{ user?.email }}</ion-label>
              <ion-input type="email" name="email" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Mot de passe</ion-label>
              <ion-input type="password" name="password" required></ion-input>
            </ion-item>
          </form>
        </ion-card-content>
      </ion-card>
      <!-- Second part of the page (previous order)-->
    </ion-row>
  </ion-grid>
</ion-content>
