<ion-header>
  <ion-toolbar>
    <ion-title color=success>
      Connexion
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color=success>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <ion-card margin color=light>
      <ion-card-content>
        <ion-item color=light><!-- sans le ion-item, impossible d'avoir l'effet floating -->
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" name="email" required></ion-input>
        </ion-item>
  
        <ion-item color=light>
          <ion-label position="floating">Mot de passe</ion-label>
          <ion-input type="password" name="password" clearOnEdit required clearInput></ion-input>
       </ion-item>
      </ion-card-content>
      <ion-button text-uppercase size=large fill=outline expand=block type=submit color=success>Connexion</ion-button>
      <ion-button (click)="onClick()" size=small fill=clear>
        Mot de passe oublié ?
      </ion-button>
    </ion-card>
  </form>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-button [routerLink]="['/signup']">Pas encore inscrit ?</ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
