<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color=success>
      Administration
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button [routerLink]="['/clients']" color=dark text-uppercase expand=block margin>
    <ion-icon slot="start" name="contacts"></ion-icon>
    Clients
  </ion-button>
  <ion-card *ngFor="let order of listOrders">

    <ion-card-header>
      <ion-card-subtitle color=success text-center>
        {{ order.values.nameMenu }}
        {{ order.values?.price }}
        <ion-icon color=success name="logo-euro"></ion-icon>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <i text-align-justify>{{ order.values.message }}</i><br>
      <b>{{ order.values.nameUser }}</b>
      <br>
      <ion-toggle></ion-toggle>
    </ion-card-content>

  </ion-card>
</ion-content>
