<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Administration
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let order of listOrders">
    <ion-card-header>
      <ion-card-subtitle>{{ order.values.price }}€</ion-card-subtitle>
      <ion-card-title>{{ order.values.nameMenu }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ order.values.nameUser }}
    </ion-card-content>
  </ion-card>
  <ion-button (click)="onClick()" text-uppercase fill=outline expand=block color=success>
    Liste des utilisateurs
  </ion-button>
</ion-content>
